@model ShopOnlineConnection.SanPham
<httpRuntime validateRequest="false" />
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<br />
<h2 class="title-product-admin">Delete</h2>

@using (Html.BeginForm("Delete", "SanPhamAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="product-admin product-delete">
                    <tr>
                        <td>Mã San Pham</td>
                        @*name input like name DB*@
                        <td><input class="input-product-style" maxlength="11" type="text" name="MaSanPham" value="@Model.MaSanPham" readonly /></td>
                    </tr>
                    <tr>
                        <td>Tên San Pham</td>
                        <td><input class="input-product-style" type="text" name="TenSanPham" maxlength="11" value="@Model.TenSanPham" readonly /></td>
                    </tr>
                    <tr>
                        <td>Tên San Pham</td>
                        <td><input class="input-product-style" type="text" name="TenSanPham" maxlength="11" value="@Model.TenSanPham" readonly /></td>
                    </tr>
                    <tr>
                        <td>Giá</td>
                        <td><input class="input-product-style" type="number" name="Gia" value="@Model.Gia" readonly /></td>

                    </tr>
                    <tr>
                        <td style="width:300px;">Cấu Hình</td>
                        <td><input class="input-product-style" type="text" name="Gia" value="@Model.CauHinh" readonly /></td>
                    </tr>
                    <tr>
                        <td colspan="5" style="text-align:center;">
                            <input type="submit" name="btn_DeletePhone" value="Xac Nhan Xoa" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <img src="~/Asset/images/@Model.HinhChinh" />
            </div>
        </div>
    </div>
}
