@model ShopOnlineConnection.SanPham
<httpRuntime validateRequest="false" />
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<h2>Delete</h2>
<style>
    input[type=text] {
        width: 100%;
        background-color: black;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ff0000;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=number] {
        width: 100%;
        background-color: black;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ff0000;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #2A9FD6;
        color: black;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    .img-responsive {
        border-radius: 3px;
        border: 5px solid #ff0000;
        max-height: 85px;
        margin-bottom: 10px;
    }

    ul li {
        list-style: none;
    }
</style>
@using (Html.BeginForm("Delete", "SanPhamAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <table style="width:100%;margin:auto; background-color:black;float:left;">
                    <tr>
                        <td>Mã San Pham</td>
                        @*name input like name DB*@
                        <td><input style="width:300px;float:left;height:35px" maxlength="11" type="text" name="MaSanPham" value="@Model.MaSanPham" readonly /></td>
                    </tr>
                    <tr>
                        <td>Tên San Pham</td>
                        <td><input style="width:300px;float:left;height:35px" type="text" name="TenSanPham" maxlength="11" value="@Model.TenSanPham" readonly /></td>
                    </tr>
                    <tr>
                        <td>Tên San Pham</td>
                        <td><input style="width:300px;float:left;height:35px" type="text" name="TenSanPham" maxlength="11" value="@Model.TenSanPham" readonly /></td>
                    </tr>
                    <tr>
                        <td>Giá</td>
                        <td><input style="width:300px;float:left;height:35px" type="number" name="Gia" value="@Model.Gia" readonly /></td>

                    </tr>
                    <tr>
                        <td style="width:300px;">Cấu Hình</td>
                        <td><input style="width:300px;float:left;height:35px" type="text" name="Gia" value="@Model.CauHinh" readonly /></td>
                    </tr>
                    <tr>
                        <td colspan="5" style="text-align:center;">
                            <input style="height:40px; width:300px;background:#016ABC;color:#fff;border:1px solid #eee;border-radius:20px;box-shadow:5px 5px 5px #eee;margin-top:15px;" type="submit" name="btn_DeletePhone" value="Xac Nhan Xoa" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-7">
                <img src="~/Asset/images/@Model.HinhChinh" />
            </div>     
        </div>
    </div>
}
