@model ShopOnlineConnection.SanPham

<httpRuntime validateRequest="false" />

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<br />
<h2 class="title-product-admin">Edit</h2>
@using (Html.BeginForm("Edit", "SanPhamAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table class="product-admin">
        <tr>
            <td>Product Code</td>
            @*name input like name DB*@
            <td><input class="input-product-style" maxlength="11" type="text" name="MaSanPham" value="@Model.MaSanPham" readonly /></td>
            <td rowspan="7" class="td-avatar-product">
                <div class="image">
                    @if (Model.HinhChinh == null)
                    {
                        <img class="img" id="imgAvatar" src="~/Asset/images/defaultPhone.jpg" />
                    }
                    else
                    {
                        <div class="edit-delete-product-avatar-img">
                            <img class="img" id="imgAvatar" name="HinhChinh" value="@Model.HinhChinh" src="~/Asset/images/@Model.HinhChinh" style="padding:10px;" />
                        </div>

                    }
                    <div class="image-more">
                        <ul class="row" style="margin-top:50px;">
                            <li class="col-lg-3 col-sm-3 col-xs-4">
                                @if (Model.Hinh1 == null)
                                {
                                    <img class="img1 img-responsive" id="imgThumbnail1" src="~/Asset/images/defaultPhone.jpg">
                                    <span>Image 1</span>
                                }
                                else
                                {
                                    <img class="img1 img-responsive" id="imgThumbnail1" src="~/Asset/images/@Model.Hinh1">
                                    <span>Image 1</span>
                                }
                            </li>
                            <li class="col-lg-3 col-sm-3 col-xs-4">
                                @if (Model.Hinh2 == null)
                                {
                                    <img class="img2 img-responsive" id="imgThumbnail2" src="~/Asset/images/defaultPhone.jpg">
                                    <span>Image 2</span>
                                }
                                else
                                {
                                    <img class="img2 img-responsive" id="imgThumbnail2" src="~/Asset/images/@Model.Hinh2">
                                    <span>Image 2</span>
                                }

                            </li>
                            <li class="col-lg-3 col-sm-3 col-xs-4">
                                @if (Model.Hinh3 == null)
                                {
                                    <img class="img3 img-responsive" id="imgThumbnail3" src="~/Asset/images/defaultPhone.jpg">
                                    <span>Image 3</span>
                                }
                                else
                                {
                                    <img class="img3 img-responsive" id="imgThumbnail3" src="~/Asset/images/@Model.Hinh3">
                                    <span>Image 3</span>
                                }
                            </li>
                            <li class="col-lg-3 col-sm-3 col-xs-4">
                                @if (Model.Hinh4 == null)
                                {
                                    <img class="img4 img-responsive" id="imgThumbnail4" src="~/Asset/images/defaultPhone.jpg">
                                    <span>Image 4</span>
                                }
                                else
                                {
                                    <img class="img4 img-responsive" id="imgThumbnail4" src="~/Asset/images/@Model.Hinh4">
                                    <span>Image 4</span>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Product Type</td>
            <td>
                @Html.DropDownList("MaLoaiSanPham", null, new { @class = "product-type-list" })
            </td>
        </tr>
        <tr>
            <td>Product Name</td>
            <td><input class="input-product-style" type="text" name="TenSanPham" value="@Model.TenSanPham" /></td>
        </tr>
        <tr>
            <td>Image Avatar</td>
            <td>
                <input type="File" class="img" id="file_Hinh" name="HinhChinh" onchange="loadImgAvatar(this)" />
            </td>
        </tr>
        <tr>
            <td>Image 1</td>
            <td><input type="File" class="img1" id="file_Hinh" name="Hinh1" onchange="loadImgThumbnail1(this)" /></td>
        </tr>
        <tr>
            <td>Image 2</td>
            <td><input type="File" class="img2" id="file_Hinh" name="Hinh2" onchange="loadImgThumbnail2(this)" /></td>
        </tr>
        <tr>
            <td>Image 3</td>
            <td><input type="File" class="img3" id="file_Hinh" name="Hinh3" onchange="loadImgThumbnail3(this)" /></td>
        </tr>
        <tr>
            <td>Image 4</td>
            <td><input type="File" class="img4" id="file_Hinh" name="Hinh4" onchange="loadImgThumbnail4(this)" /></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input class="input-product-style" type="number" name="Gia" value="@Model.Gia" /></td>
        </tr>
        <tr>
            <td>Note</td>
            <td><input class="input-product-style" type="text" name="GhiChu" value="@Model.GhiChu" /></td>
        </tr>
        <tr>
            <td>Like Product</td>
            <td><input class="input-product-style" type="number" name="LikeProduct" value="@Model.LikeProduct" /></td>
        </tr>
        <tr>
            <td>View</td>
            <td><input class="input-product-style" type="number" name="LuotView" value="@Model.LuotView" /></td>
        </tr>
        <tr>
            <td>Average Point</td>
            <td><input class="input-product-style" type="number" name="AveragePoint" value="@Model.AveragePoint" /></td>
        </tr>
        <tr>
            <td>Producer</td>
            <td>
                @Html.DropDownList("MaNhaSanXuat", null, new { @class = "producer-code-list" })
            </td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <select id="conditionProduct" name="TinhTrang">
                    @if (Model.TinhTrang == "1")
                    {
                        <option value="0">Display</option>
                        <option value="1" selected>Hidden</option>
                    }
                    else
                    {
                        <option value="0" selected>Display</option>
                        <option value="1">Hidden</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td style="width:300px;">Configuration</td>
            <td colspan="2">
                <textarea class="ckeditor" name="CauHinh" rows="4" cols="30">@Model.CauHinh</textarea>
            </td>
        </tr>
        <tr>
            <td style="width:300px;">Decription</td>
            <td colspan="2">
                <textarea class="ckeditor" name="Description" rows="4" cols="30">@Model.Description</textarea>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <input class="input-add-product" type="submit" name="btn_EditProduct" value="Xac Nhan" />
            </td>
        </tr>
    </table>
}

@section jsCRUDProduct{
    <script src="~/Areas/AssetAdmin/js/product/previewFile.js"></script>
}