@model IEnumerable<ShopOnlineConnection.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center">Products Management</h2>
            <br />
            <table class="table-admin-panel">
                <tr>
                    <th>Mã Sản Phẩm</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Hình Ảnh</th>
                    <th>Tình Trạng</th>
                    <th colspan="2">
                        <a href="@Url.Action("Create","SanPhamAdmin")"><img src="~/Asset/images/AddNSX.png" /></a>
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MaSanPham</td>
                        <td>@item.TenSanPham</td>
                        <td><img src="~/Asset/images/@item.HinhChinh" style="width:50px;height:70px;" /></td>
                        <td>@item.TinhTrang</td>
                        <td>
                            <a href="@Url.Action("Edit","SanPhamAdmin",new { id = @item.MaSanPham})">
                                <img src="~/Asset/images/edit.png" />
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Delete","SanPhamAdmin",new { id = @item.MaSanPham})">
                                <img src="~/Asset/images/Delete.png" />
                            </a>
                        </td>
                    </tr>
                }
            </table>
            <br />
        </div>
    </div>
</div>



