@using Microsoft.AspNet.Identity

@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Dark Admin</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="~/Areas/AssetAdmin/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/AssetAdmin/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Areas/AssetAdmin/css/localadminV3.css" />

    <!-- jQuery and Modernizr-->
    <script type="text/javascript" src="~/Areas/AssetAdmin/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Areas/AssetAdmin/ckeditor/ckeditor.js"></script>
    @*<script type="text/javascript" src="~/Areas/AssetAdmin/js/main/main.js"></script>*@

    <!-- Core JavaScript Files -->
    <script type="text/javascript" src="~/Areas/AssetAdmin/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/areas/assetadmin/shieldui.1.7.43-trial/js/shieldui-all1.min.js"></script>

    <script type="text/javascript" src="https://www.prepbootstrap.com/Content/js/gridData.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <!-- you need to include the shieldui css and js assets in order for the charts to work -->
    <link rel="stylesheet" type="text/css" href="~/Areas/AssetAdmin/shieldui.1.7.43-Trial/css/light-bootstrap/all.min.css" />
    <link id="gridcss" rel="stylesheet" type="text/css" href="~/Areas/AssetAdmin/shieldui.1.7.43-Trial/css/dark-bootstrap/all.min.css" />

</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","MainAdmin")">Admin Panel</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="active" class="nav navbar-nav side-nav">
                    <li class="selected"><a href="@Url.Action("Index","MainAdmin")"><i class="fa fa-bullseye"></i> Dashboard</a></li>
                    <li><a href="@Url.Action("Index","NhaSanXuatAdmin")"><i class="fa fa-tasks"></i> Quan Ly Nha San Xuat</a></li>
                    <li><a href="@Url.Action("Index","LoaiSanPhamAdmin")"><i class="fa fa-globe"></i> Quan Ly Loai San Pham</a></li>
                    <li><a href="@Url.Action("Index","SanPhamAdmin")"><i class="fa fa-list-ol"></i> San Pham</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-address-card-o" aria-hidden="true"></i> Account Management</a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index","AccountAdmin")"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Admin</a></li>
                            <li><a href="@Url.Action("Index","GuestAccountAdmin")"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Guest</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">2</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">2 New Messages</li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-bell"></i></span>
                                    <span class="message">Security alert</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><i class="fa fa-bell"></i></span>
                                    <span class="message">Security alert</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Go to Inbox <span class="badge">2</span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown user-dropdown">
                        @Html.Partial("_LoginPartialAdmin")
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                        @{
                            string controllerName = HttpContext.Current.Request.Url.AbsolutePath.Split('/').Last();
                            using (Html.BeginForm("Index", controllerName, FormMethod.Post, new { @class = "navbar-search" }))
                            {
                                string checkControllerName = controllerName.ToLower();
                                if (checkControllerName.Contains("admin") || checkControllerName.Contains("nhasanxuatadmin") || checkControllerName.Contains("loaisanphamadmin") ||
                                    checkControllerName.Contains("sanphamadmin") || checkControllerName.Contains("accountadmin") || checkControllerName.Contains("guestaccountadmin"))
                                {
                                    <input id="searchQuery" type="text" placeholder="Search" class="form-control" onblur="formatSearch()" name="queryName">
                                }
                                else
                                {
                                    <input id="searchQuery" type="text" placeholder="Search" class="form-control" readonly>
                                }
                            }
                        }
                    </li>
                </ul>
            </div>
        </nav>
        @RenderBody()
        @RenderSection("jsProfileAccount", required: false)
        @RenderSection("jsCRUDProduct", required: false)
    </div>
</body>
</html>

