@model ShopOnlineConnection.AspNetUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";


}

<h2 class="title-product-admin">Delete</h2>
<div>
    @using (Html.BeginForm("Delete", "AccountAdmin", FormMethod.Post, new { @class = "account-management-admin" }))
    {
        <label for="id">ID Account</label>
        <input type="text" id="id" name="Id" value="@Model.Id" readonly />

        <label for="email">Email</label>
        <input type="text" id="email" name="Email" value="@Model.Email" readonly />

        <label for="user-name">User Name</label>
        <input type="text" name="UserName" value="@Model.UserName" readonly />

        <label for="phone">Phone</label>
        <input type="text" name="PhoneNumber" value="@Model.PhoneNumber" readonly />

        <label for="address">Address</label>
        <input type="text" name="UserAddress" value="@Model.UserAddress" readonly />

        <label for="dob">Date Of Birthday</label>
        if (Model.DOB == null)
        {
            <input type="date" name="UserAddress" value="@Model.DOB" readonly />
        }
        else
        {
            <input type="date" name="UserAddress" value="@Model.DOB.Value.ToString("yyyy-MM-dd")" readonly />
        }

        <input type="submit" value="Delete" />
    }
</div>