@model ShopOnlineConnection.AspNetUser

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<h2 class="title-product-admin">Edit Guest Account</h2>
<div>
    @using (Html.BeginForm("Edit", "AccountAdmin", FormMethod.Post, new { @class = "account-management-admin" }))
    {

        <label for="id">ID Account</label>
        <input type="text" id="id" name="Id" value="@Model.Id" readonly>

        <label for="email">Email</label>
        <input type="text" id="email" name="Email" value="@Model.Email" readonly />

        <label for="full-name">Full Name</label>
        <input type="text" id="full-name" name="FullName" value="@Model.FullName" required />

        <label for="phone">Phone</label>
        <input type="text" id="phone" name="PhoneNumber" value="@Model.PhoneNumber" required />

        <label for="address">Address</label>
        <input type="text" id="address" name="UserAddress" value="@Model.UserAddress" required />

        <label for="dob">Date Of Birthday</label>
        if (Model.DOB == null)
        {
            <input type="date" id="dob" name="DOB" value="@Model.DOB" required />
        }
        else
        {
            <input type="date" id="dob" name="DOB" value="@Model.DOB.Value.ToString("yyyy-MM-dd")" required />
        }

        <input type="submit" value="Edit" />
    }
</div>

