@model IEnumerable<ShopOnlineConnection.AspNetUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<br />
<h2 class="text-center">Management Admin Account</h2>
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table-admin-panel account-management-admin">
                <tr>
                    <th>ID</th>
                    <th>EMAIL</th>
                    <th>Full NAME</th>
                    <th>PHONE NUMBER</th>
                    <th>Address</th>
                    <th>Date Of Birth</th>
                    <th colspan="2">
                        <a href="@Url.Action("Create","AccountAdmin")"><img src="~/Asset/images/AddNSX.png" /></a>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Email</td>
                        <td>@item.FullName</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.UserAddress</td>
                        @if (item.DOB == null)
                        {
                            <td>Null</td>
                        }
                        else
                        {
                            <td>@item.DOB.Value.ToString("dd-MM-yyyy")</td>
                        }
                        <td>
                            <a href="@Url.Action("Edit","AccountAdmin",new { id=item.Id})"><img src="~/Asset/images/edit.png" /></a>
                        </td>
                        <td>
                            <a href="@Url.Action("Delete","AccountAdmin",new { id = item.Id})"><img src="~/Asset/images/Delete.png" /></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


