@using Microsoft.AspNet.Identity
@using WebApplication1.Common

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Html.Raw("Hello " + User.GetFullName()) </a>
            @if (User.IsloginLocal() == true)
            {
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("ProfileAccount", "Account",new {id=User.Identity.GetUserId() })"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
                    <li><a href="@Url.Action("ChangePassword", "Manage")"><i class="glyphicon glyphicon-cog"></i> Change Password</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-off"></i> Log off</a></li>
                </ul>
            }
            else
            {
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("ProfileAccount", "Account",new {id=User.Identity.GetUserId() })"><i class="glyphicon glyphicon-user"></i> Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-off"></i> Log off</a></li>
                </ul>
            }
        </li>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown-items">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="dropdown-items">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

