@model WebApplication1.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-6 mx-auto col-md-offset-3">
            <div class="card card-signin my-5">
                <div class="card-body">
                    @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4 class="text-center" style="color:#3b5998">Information Account</h4>
                        <hr />
                        <div class="form-group">
                            @Html.LabelFor(m => m.FullName, new { @class = "col-md-3 control-label", @style = "color:#3b5998" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" class="btn btn-facebook" value="Confirm" />
                            </div>
                        </div>
                    }
                </div>
            </div>
            <br />
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
