@model ShopOnlineConnection.AspNetUser

@{
    ViewBag.Title = "ProfileAccount";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h2 class="text-center">Profile Account</h2>
                    <br />
                    <div>
                        @using (Html.BeginForm("ProfileAccount", "Account", FormMethod.Post, new { @id = "profile_account" }))
                        {
                            <label for="email">Email</label>
                            <input type="text" id="email" name="Email" value="@Model.Email" readonly />
                            <label for="user-name">User Name</label>
                            <input type="text" id="user-name" name="FullName" value="@Model.FullName" readonly />
                            <button type="button" class="slide-toggle btn" value="Enable" id="btnEditName">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </button>
                            <label for="phone">Phone</label>
                            <input type="text" id="phone" name="PhoneNumber" value="@Model.PhoneNumber" readonly />
                            <button type="button" class="slide-toggle btn" value="Enable" id="btnEditPhone">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </button>
                            <label for="address">Address</label>
                            <input type="text" id="address" name="UserAddress" value="@Model.UserAddress" readonly /><button type="button" class="slide-toggle btn" value="Enable" id="btnEditAddress">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </button><label for="dob">Date Of Birthday</label>
                            <input type="date" id="dob" name="DOB" value="@Model.DOB.Value.ToString("yyyy-MM-dd")" readonly />
                            <button type="button" class="slide-toggle btn" value="Enable" id="btnEditDOB">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                            </button>
                            <div class="text-center">
                                <br />
                                <button type="submit" class="btn btn-save">SAVE</button>
                            </div>
                        }
                    </div>
                    <br />
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>

@section jsProfileAccount{
    <script src="~/Areas/AssetAdmin/js/profile-account/profileAccount.js"></script>
}