@model List<WebApplication1.Models.Database.NhaSanXuatView>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center">Producer Management</h2>
            <br />
            <table class="table-admin-panel">
                <tr>
                    <th>Producer Code</th>
                    <th>Producer Name</th>
                    <th>Status</th>
                    <th>Product Type</th>
                    <th colspan="2">
                        <a href="@Url.Action("Create","NhaSanXuatAdmin")"><img src="~/Asset/images/AddNSX.png" /></a>
                    </th>
                </tr>            
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MaNhaSanXuat</td>
                        <td>@item.TenNhaSanXuat</td>
                        <td>@item.TinhTrang</td>
                        <td>@item.TenLoaiSanPham</td>
                        <td>
                            <a href="@Url.Action("Edit","NhaSanXuatAdmin",new { id = @item.MaNhaSanXuat})">
                                <img src="~/Asset/images/edit.png" />
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Delete","NhaSanXuatAdmin",new { id = @item.MaNhaSanXuat})">
                                <img src="~/Asset/images/Delete.png" />
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


