@model ShopOnlineConnection.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div id="page-content" class="single-page">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Products", "Index", "Shop")</li>
                        <li><a href="#">@Model.TenSanPham</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product">
                        <div class="col-md-4">
                            <div class="image">
                                @*@Html.Partial("_AvartaDetails", WebApplication1.Models.BUS.ShopOnlineBUS.LoadAvartaImg(Model.MaSanPham))*@
                                <img src="~/Asset/images/@Model.HinhChinh">
                                <div class="image-more">
                                    <br />
                                    <ul class="row">
                                        <li class="col-lg-3 col-sm-3 col-xs-4">
                                            <a href="#"><img class="img-responsive" src="~/Asset/images/@Model.Hinh1"></a>
                                        </li>
                                        <li class="col-lg-3 col-sm-3 col-xs-4">
                                            <a href="#"><img class="img-responsive" src="~/Asset/images/@Model.Hinh2"></a>
                                        </li>
                                        <li class="col-lg-3 col-sm-3 col-xs-4">
                                            <a href="#"><img class="img-responsive" src="~/Asset/images/@Model.Hinh3"></a>
                                        </li>
                                        <li class="col-lg-3 col-sm-3 col-xs-4">
                                            <a href="#"><img class="img-responsive" src="~/Asset/images/@Model.Hinh4"></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="buttons">
                                    <a class="btn cart" href="@Url.Action("Index","Cart")">
                                        <span class="glyphicon glyphicon-shopping-cart"></span>
                                    </a>
                                    <a class="btn wishlist" href="#">
                                        <span class="glyphicon glyphicon-heart"></span>
                                    </a>
                                    <a class="btn compare" href="#">
                                        <span class="glyphicon glyphicon-eye-open"> @Model.LuotView</span>
                                    </a>
                                    <a href="#" data-id="@Model.MaSanPham" class="btn_images">
                                        <img src="~/Asset/images/ThemHinh.png" />
                                        Details Product
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-2">
                            <div class="caption">
                                <div class="name-phone"><h3>@Model.TenSanPham</h3></div>
                                @*<div><h5>Luot View: @Model.LuotView</h5></div>*@
                                <div class="price-phone">
                                    <h5>
                                        @String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:#,#₫}", Model.Gia)
                                    </h5>
                                </div>
                                @Html.Raw(HttpUtility.HtmlDecode(Model.CauHinh))
                                <div class="rating">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                @*@using (Html.BeginForm("AddItem", "Cart", FormMethod.Post))*@
                                @using (Html.BeginForm(new { action = "AddItem", controller = "Cart", id = Model.MaSanPham }))
                                {
                                    <input type="hidden" name="tensanpham" value="@Model.TenSanPham" />
                                    <input type="hidden" name="productId" value="@Model.MaSanPham" />
                                    <input type="hidden" name="gia" value="@Model.Gia" />
                                    <label>So Luong: </label>
                                    <input class="fomr-inline quantity" type="number" value="1" min="1" max="1000" name="quantity" />
                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <input type="submit" class="btn btn-2" value="Them Vao Gio" />
                                    }
                                    else
                                    {
                                        <p class="alert alert-danger">Vui Long Dang Nhap De Them Vao Gio Hang</p>
                                    }
                                }
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div id="main-content" class="col-md-12">
                <div class="row product-desc">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#description">Description</a></li>
                    </ul>
                    <div class="tab-content body-shadow">
                        <div id="description">
                            <h4>Sample Lorem Ipsum Text</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante. Mauris eleifend, quam a vulputate dictum, massa quam dapibus leo, eget vulputate orci purus ut lorem. In fringilla mi in ligula. Pellentesque aliquam quam vel dolor. Nunc adipiscing. Sed quam odio, tempus ac, aliquam molestie, varius ac, tellus. Vestibulum ut nulla aliquam risus rutrum interdum. Pellentesque lorem. Curabitur sit amet erat quis risus feugiat viverra. Pellentesque augue justo, sagittis et, lacinia at, venenatis non, arcu. Nunc nec libero. In cursus dictum risus. Etiam tristique nisl a</p>
                            <h4>Sample Lorem Ipsum Text</h4>
                            <p>Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque aliquet lacus vitae pede. Nullam mollis dolor ac nisi. Phasellus sit amet urna. Praesent pellentesque sapien sed lacus. Donec lacinia odio in odio. In sit amet elit. Maecenas gravida interdum urna. Integer pretium, arcu vitae imperdiet facilisis, elit tellus tempor nisi, vel feugiat ante velit sit amet mauris. Vivamus arcu. Integer pharetra magna ac lacus. Aliquam vitae sapien in nibh vehicula auctor. Suspendisse leo mauris, pulvinar sed, tempor et, consequat ac, lacus. Proin velit. Nulla semper lobortis mauris. Duis urna erat, ornare et, imperdiet eu, suscipit sit amet, massa. Nulla nulla nisi, pellentesque at, egestas quis, fringilla eu, diam.</p>
                        </div>
                        <div id="review" class="tab-pane fade">
                            <div class="review-text">
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                            <div class="review-form">
                                <h4>Write a review</h4>
                                <form name="form1" id="ff" method="post" action="review.php">
                                    <label>
                                        <span>Enter your name:</span>
                                        <input type="text" name="name" id="name" required="">
                                    </label>
                                    <label>
                                        <span>Your message here:</span>
                                        <textarea name="message" id="message"></textarea>
                                    </label>
                                    <div class="text-right">
                                        <input class="btn btn-default" type="reset" name="reset" value="Reset">
                                        <input class="btn btn-default" type="submit" name="Submit" value="Submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tab-content body-shadow">
                            @Html.Action("Index", "Comment", new { productId = Model.MaSanPham })
                        </div>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="col-md-4">
                <div class="widget wid-product">
                    <div class="heading"><h4>LATEST</h4></div>
                    <div class="content">
                        <div class="product">
                            <a href="#"><img src="~/Asset/images/galaxy-note.jpg"></a>
                            <div class="wrapper">
                                <h5><a href="#">Samsung Galaxy Tab</a></h5>
                                <div class="price">$122</div>
                                <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                            </div>
                        </div>
                        <div class="product">
                            <a href="#"><img src="~/Asset/images/galaxy-s4.jpg"></a>
                            <div class="wrapper">
                                <h5><a href="#">Samsung Galaxy Tab</a></h5>
                                <div class="price">$122</div>
                                <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                            </div>
                        </div>
                        <div class="product">
                            <a href="#"><img src="~/Asset/images/Z1.png"></a>
                            <div class="wrapper">
                                <h5><a href="#">Samsung Galaxy Tab</a></h5>
                                <div class="price">$122</div>
                                <div class="rating"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

