@model IEnumerable<ShopOnlineConnection.AspNetUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

@*<style>
        table {
            border-collapse: collapse;
            width: 60%;
            margin: auto;
        }

        th, td {
            text-align: center;
            padding: 20px;
        }

        tr:nth-child(even) {
            background-color: #5D5E63;
        }

        th {
            background-color: #2A9FD6;
            color: white;
        }
    </style>*@
<br />
<div class="container-fluid container-account-managenment">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center">Management Guest Account</h2>
            <br />
            <table class="table-admin-panel">
                <tr>
                    <th>ID</th>
                    <th>EMAIL</th>
                    <th>FULL NAME</th>
                    <th>PHONE NUMBER</th>
                    <th>Address</th>
                    <th>Date Of Birthday</th>
                    <th colspan="2">
                        <a href="@Url.Action("Create","GuestAccountAdmin")">
                            <img src="~/Asset/images/AddNSX.png" />
                        </a>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Email</td>
                        <td>@item.FullName</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.UserAddress</td>
                        @if (item.DOB == null)
                        {
                            <td>Null</td>
                        }
                        else
                        {
                            <td>@item.DOB.Value.ToString("yyyy-MM-dd")</td>
                        }

                        <td>
                            <a href="@Url.Action("Edit","GuestAccountAdmin",new { id = @item.Id})">
                                <img src="~/Asset/images/edit.png" />
                            </a>
                        </td>
                        <td>
                            <a href="@Url.Action("Delete","GuestAccountAdmin",new { id = @item.Id})">
                                <img src="~/Asset/images/Delete.png" />
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


