@model PagedList.IPagedList<ShopOnlineConnection.CommentInformation>
@using WebApplication1.Common
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "";
}

<h2>Comment</h2>
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Create", "Comment", FormMethod.Post, new { @class = "comment-product" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("productId", (string)ViewBag.productId)
        @Html.TextArea("commentContent", new { @placeholder = "Writing" })
        <input type="submit" value="Enter" class="btn-comment btn btn-2" />
    }
}
else
{
    <p class="alert alert-danger">Please login to comment</p>
}
<div id="comments">
    <br />
    @foreach (var item in Model)
    {
        <div class="comment">
            <div class="comment-name">
                <strong data-toggle="tooltip" data-placement="bottom" title="@item.Date.ToString("dd-MM-yyyy")">
                    @item.FullName
                </strong>
                @Helper.FormatTime(item.Date)
            </div>
        </div>
        <div class="comment-content">
            <p>@item.CommentContent</p>
        </div>
    }

    <div class="text-center">
        <ul class="pagination">
            @Html.PagedListPager(Model, page => Url.Action("Details", "Product", new { page, id = ViewBag.ProductId }))
        </ul>
    </div>
</div>

@*<script src="~/Asset/js/productDetails01.js"></script>*@