@model IEnumerable<ShopOnlineConnection.Comment>
@using WebApplication1.Common

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<script src="~/Asset/js/productDetails.js"></script>

<h2>Comment</h2>
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Create", "Comment", FormMethod.Post, new { @class = "comment-product" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("productId", (string)ViewBag.productId)
        @Html.TextArea("commentContent", new { @placeholder = "Writing" })
        <input type="submit" value="Enter" class="btn-comment btn btn-2" />
    }
}
else
{
    <p class="alert alert-danger">Please login to comment</p>
}


<div id="comments">
    <br />
    @foreach (var item in Model)
    {
        <div class="comment">
            <div class="comment-name">
                <strong data-toggle="tooltip" data-placement="bottom" title="@item.Date.ToString("dd-MM-yyyy")">
                    @item.UserEmail
                </strong>
                @Helper.FormatTime(item.Date)

            </div>
            <div class="comment-content">
                <p>@item.CommentContent</p>
            </div>
        </div>
    }
</div>



